.image {
  height: 580px;
  width: 1064px;
  margin-top: 260px;
  content: url(../../../src/image/main/page1/main-img_01.png);
}

.bg {
  background: url(../../../src/image/main/page1/1440_1024_bg_01.png);
}
