.image {
  content: url(../../../src/image/main/page2/main-img_02.png);
  height: 580px;
  width: 1064px;
  margin-top: 260px;
}

.bg {
  background: url(../../../src/image/main/page2/1440_1024_bg_02.png);
}
