.image {
  content: url(../../../src/image/main/page1/main-img_01_b.webp);
  height: 742px;
  width: 1274px;
  margin-top: 180px !important;
}

.bg {
  background: url(../../../src/image/main/page1/1440_1024_bg_01.webp);
}
