.logo {
  content: url(../../../src/image/main/logoBak.svg);
  width: 425px;
  height: 265px;
  margin-left: 407px;
}

.title {
  font-weight: 200;
  font-size: 96px;

  letter-spacing: -0.02em;

  /* primary/01 */
  color: var(--primary01);
  margin-bottom: 40px;
}

.titleExplain {
  height: 58px;
  width: 233px;
  border-left: 1.5px solid #55576f;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 300;
  font-size: 20px;

  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: var(--grayScale07);
}
