.FX5000Container {
  background: url(../../src/image/FX5000/productBg_fx-5000.png);
  background-size: cover;
  height: calc(100vmin);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  z-index: 1;

  position: absolute;

  width: -moz-available;
  width: -webkit-fill-available;

  justify-content: space-between;
  bottom: 0;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 4.8rem;
}
