.FX5000Container {
  background: url(../../src/image/FX5000/productBg_fx-5000.png);
  background-size: cover;
  height: calc(100vmin);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  z-index: 9999;

  position: absolute;

  bottom: 0;
  margin-right: 8rem;
  margin-left: 8rem;
  margin-bottom: 4.8rem;
}
