.FX5000Container {
  /* background: var(--secondaryFX5000); */
  /* background: url(../../src/image/FX5000/bg_fx-5000.png); */
  background: url(../../src/image/FX5000/productBg_fx-5000.png);
  background-size: cover;
  height: 100vh;
}

.bodyContainer {
  height: 100vh;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  z-index: 1;

  position: absolute;

  width: -moz-available;
  width: -webkit-fill-available;

  justify-content: space-between;
  bottom: 0;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 48px;
}
