.HairContainer {
  /* background: url(../../src/image/HAIR/productBg_hair.png);
  background-size: cover;
  background-position: 50%; */
  height: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  z-index: 10;

  position: fixed;

  /* bottom: 0; */
  top: 985px;
  /* margin-right: 8rem; */
  margin-left: 8rem;
  /* margin-bottom: 4.8rem; */
}

/* .wrap {
  max-width: 1920px;
  margin: 0 auto;
} */

/* @media all and (max-width: 1439px) {
  .wrap {
    min-width: 1024px;
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .wrap {
    max-width: 1440px;
  }
} */
