.layout__background {
  /* height: 100vh;
  width: 100vw; */
}

.layout__background__main {
  background: url(../../src/image/main/productBg_home.png);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.layout__background__me {
  background: url(../../src/image/ME/productBg_me.png);
  background-size: cover;
  background-position: 50%;
}

.layout__background__fx5000 {
  background: url(../../src/image/FX5000/productBg_fx-5000.png);
  background-size: cover;
  background-position: 50%;
}

.layout__background__tech {
  background: url(../../src/image/PURATECH/productBg.png);
  background-size: cover;
  background-position: 50%;
}

.layout__background__hair {
  background: url(../../src/image/HAIR/productBg_hair.png);
  background-size: cover;
  background-position: 50%;
}

.layout__background__404 {
  background: black;
  background-size: cover;
  background-position: 50%;
}

.layoutMain {
  width: 1440px;
  height: 908px;
  margin: 0 auto;

  /* display: flex;

  justify-content: space-between;
  align-items: center; */
  /* max-width: 1920px;
  margin: 0 auto; */

  /* max-height: 1080px; */
}

/* .wrap {
  max-width: 1920px;
  margin: 0 auto;
} */

/* 여기서 바디 색 전부를 고침 */
/* 상태변수로 ME 밑줄과 같이 처리하면 될 듯? */

.layoutHeader {
  z-index: 10;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 1024px; */
  /* min-height: 720px; */
}

.layoutBody {
}
