.TechContainer {
  /* background: skyblue; */
  background: url(../../src/image/PURATECH/productBg.svg);
  background-size: cover;
  height: 100vh;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  z-index: 9999;

  position: absolute;

  bottom: 0;
  right: 0;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 48px;
}
