.container {
  margin-left: 8rem;

  display: flex;
  height: calc(100vh);
  justify-content: space-around;
  align-items: center;
}

.imageSelector {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 8rem;
  justify-content: center;
}

.imageCommon {
  height: 9.6rem;
  width: 9.6rem;
  display: flex;
  flex-wrap: wrap;
}

.header0 {
  content: url(../../../src/image/ME/page4/me_01_active.svg);
  filter: drop-shadow(0rem 0.8rem 2rem rgba(0, 0, 0, 0.12));
}

.header1 {
  content: url(../../../src/image/ME/page4/me_02_active.svg);
  filter: drop-shadow(0rem 0.8rem 2rem rgba(0, 0, 0, 0.12));
}

.header2 {
  content: url(../../../src/image/ME/page4/me_03_active.svg);
  filter: drop-shadow(0rem 0.8rem 2rem rgba(0, 0, 0, 0.12));
}

.header3 {
  content: url(../../../src/image/ME/page4/me_04_active.svg);
  filter: drop-shadow(0rem 0.8rem 2rem rgba(0, 0, 0, 0.12));
}

.header00 {
  content: url(../../../src/image/ME/page4/me_01_inactive.svg);
}

.header11 {
  content: url(../../../src/image/ME/page4/me_02_inactive.svg);
}

.header22 {
  content: url(../../../src/image/ME/page4/me_03_inactive.svg);
}

.header33 {
  content: url(../../../src/image/ME/page4/me_04_inactive.svg);
}

.image {
  display: flex;

  margin-right: 2rem;
  margin-bottom: 12.6rem;
}

.promo0 {
  content: url(../../../src/image/ME/page4/me_img_01.svg);
}

.promo1 {
  content: url(../../../src/image/ME/page4/me_img_02.svg);
}

.promo2 {
  content: url(../../../src/image/ME/page4/me_img_03.svg);
}

.promo3 {
  content: url(../../../src/image/ME/page4/me_img_04.svg);
}

.explainContainer {
  margin-right: 22.7rem;
}

.explainTitle {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 128%;

  letter-spacing: -0.02em;

  color: #55576f;
}

.explainPaperContainer {
  width: 57.4rem;
  height: 60.6rem;

  background: #ffffff;

  border: 1px solid #f2f3f7;
  box-shadow: 0rem 0rem 8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.4rem;
}

.explainContainerInner {
  margin: 4.8rem;
  display: flex;
}

.hrContainer {
  width: 1rem;
  height: 1.2rem;
}

.commonHR {
  width: 0.8rem;
  color: #c7cad3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.frameContainer {
  display: flex;
  flex-direction: column;
}

.frameTitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #a7abb6;
  margin-bottom: 0.8rem;
}

.frameExp {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  margin-bottom: 2.4rem;
  letter-spacing: -0.01em;

  color: #4d5058;
}

.optionButtonCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  background-color: var(--grayScale02);
  border-radius: 0.4rem;
  letter-spacing: -0.01em;
  margin-right: 0.8rem;
  color: #55576f;
  margin-top: 0.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.mainExplain {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.subExplain {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 150%;

  letter-spacing: -0.03em;

  color: var(--grayScale05);
}

.explain__container {
  display: flex;
  width: calc(100%);
}

.explain__container__inner {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  width: calc(50%);
}

.image__container {
  width: calc(100%);
  height: calc(100% - 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.explainTitle__container {
  margin-bottom: 2.4rem;
}
