.leftContainer {
  /* background-color: "pink"; */
  justify-content: "center";
  align-items: "center";

  /* height 지워야함 개발용임 */
  /* height: "100vh"; */
}

.upperImage {
  /* background-color: red; */
  height: 20vw;
  width: 20vw;
  content: url(../../../src/image/ME/me_03_b.png);

  position: absolute;
  top: 5vw;
  right: 66vw;
}

.lowerImage {
  /* background-color: blue; */
  height: 20vw;
  width: 20vw;

  /* 이게 왜 되지...? */
  z-index: 1;
  position: absolute;
  top: 19.5vw;
  right: 76vw;
  content: url(../../../src/image/ME/me_03_a.png);
}

.rightContainer {
  display: flex;
}

.rightContents {
  height: 40vw;
  width: 100%;
}
