.container {
  height: 100%;
  display: flex;
}

.leftContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin-left: 18.8rem;
}

.rightContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.margin__bottom {
  margin-bottom: 28rem;
  display: none;
}

.subTitle {
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 0.8rem;
  letter-spacing: -0.02em;
  line-height: 128%;
  color: var(--primary01);
}

.title {
  font-weight: 300;
  font-size: 8.4rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  color: var(--primary01);

  margin-bottom: 4.8rem;
}

.mainExplain {
  font-weight: 300;
  font-size: 4rem;

  letter-spacing: -0.02em;
  line-height: 128%;

  color: #808591;
}

.mainExplainSub {
  font-weight: 300;
  font-size: 4rem;

  letter-spacing: -0.02em;
  line-height: 128%;

  color: #808591;

  margin-bottom: 2.4rem;
}

.mainExplainBold {
  font-weight: 300;
  font-size: 4rem;
  line-height: 128%;

  letter-spacing: -0.02em;

  color: #808591;
}

.subExplain {
  font-weight: 300;
  font-size: 2.4rem;

  letter-spacing: -0.02em;
  line-height: 140%;
  color: #808591;
}

.meImage {
  content: url(../../../src/image/ME/page1/puraxel_me_me_me.png);
  /* display: flex; */

  width: 436px;
}

.explain_sub {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 140%;

  letter-spacing: -0.02em;
  margin-top: 1.6rem;
  color: #808591;
}

.me__caption {
  position: absolute;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 132%;

  letter-spacing: -0.02em;

  color: #767676;
  /* left: calc(100vw / 1.16);
  top: calc(100vh / 1.19); */
  /* left: 1665px;
  top: 901px; */
  left: 82%;
  top: 82%;
}
