.container {
  height: calc(100%);
  display: flex;
  margin-left: 22.8rem;
}

.leftContainer {
  display: flex;
  width: calc(50%);
  flex-direction: column;
  justify-content: center;
}

.rightContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.subTitle {
  font-weight: 300;
  font-size: 4.8rem;
  letter-spacing: -0.02em;
  line-height: 128%;
  color: var(--primary01);

  margin-bottom: 2.4rem;
}

.title {
  font-weight: 300;
  font-size: 9.6rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  color: var(--primary01);

  margin-bottom: 8rem;
}

.mainExplain {
  font-weight: 300;
  font-size: 4rem;

  letter-spacing: -0.02em;
  line-height: 128%;

  color: var(--grayScale07);
}

.mainExplainSub {
  font-weight: 500;
  font-size: 4rem;

  letter-spacing: -0.02em;
  line-height: 128%;

  color: var(--grayScale07);

  margin-bottom: 2.4rem;
}

.mainExplainBold {
  font-weight: 500;
  font-size: 4rem;

  letter-spacing: -0.02em;

  color: var(--primary01);
}

.subExplain {
  font-weight: 200;
  font-size: 2.4rem;

  letter-spacing: -0.02em;
  line-height: 140%;
  color: var(--grayScale07);
}

.meImage {
  content: url(../../../src/image/ME/page1/me_main.svg);
  display: flex;
}

.explain_sub {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 140%;

  letter-spacing: -0.02em;

  color: #4d5058;
}
