.page2Container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;

  height: calc(100vh);
  align-items: center;
}

.leftGridContainer {
  display: flex;
  /* grid-template-columns: 2fr 0.4fr; */

  width: 65.4rem;
  height: 64.3rem;

  background: var(--white);

  border: 1px solid #f2f3f7;
  box-shadow: 0rem 2rem 6rem rgba(0, 0, 0, 0.03);
  border-radius: 0.4rem;
  margin-left: 22.8rem;

  /* height: calc(100vh / 1.64);
  width: calc(100vw / 2.93); */
}

.leftPaper {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.leftPaperTop {
  margin-top: 4rem;
  height: 10.7rem;
  /* width: 57rem; */
}

.leftPaperTopFirst {
  font-size: 3.2rem;
  color: var(--grayScale05);

  font-weight: 300;

  line-height: 132%;

  letter-spacing: -0.02em;
}

.leftPaperTopSecond {
  display: flex;
  flex-wrap: wrap;
  font-size: 4.8rem;
  width: max-content;
  color: var(--primary01);
  letter-spacing: -0.02em;
  line-height: 132%;
  margin-bottom: 5.6rem;
}

.leftPaperTopSecondPoint {
  font-weight: 700;
}

.leftPaperMiddle {
  display: flex;
}

.leftPaperBottom {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.galavnic__br {
  display: block;
}

.galavanic__br {
  display: none;
}

.plusImage {
  border: 1px solid var(--mePage2Plus);

  background: linear-gradient(
      135.82deg,
      #f3f3f3 13.3%,
      rgba(255, 255, 255, 0.3) 98.46%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));

  position: fixed;
  width: 5.8rem;
  height: 5.8rem;
  content: url(../../../src/image/ME/ic_functionPlus.svg);

  z-index: 1;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5rem);
  margin-right: -1.6rem;
}

.paper__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.laserImage {
  content: url(../../../src/image/ME/page2/PURAXEL_LASER.png);
}

.laserImageContainer {
}

.laserInactiveImage {
  content: url(../../../src/image/ME/page2/LASERINA.png);
}

.galvanicImageContainer {
  margin-left: 2rem;
}

.galvanicImage {
  content: url(../../../src/image/ME/page2/PURAXEL_GAL.png);
}

.galvanicInactiveImage {
  content: url(../../../src/image/ME/page2/GALINA.png);
}

.imageContainer {
  height: 27.6rem;
  width: 27.6rem;

  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}

.indicator {
  display: flex;

  margin-bottom: 0.4rem;
}

.indicatorAtom {
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0.7;
  border-radius: 50%;
  margin-right: 0.8rem;

  margin-bottom: 0.8rem;
}

.explainTitle {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #7e818d;
}

.explainPara {
  color: var(--grayScale06);
  font-size: 1.4rem;
  letter-spacing: -0.01em;

  font-weight: 300;

  line-height: 150%;
}

.explain__title__sub {
  font-size: 2.4rem;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 132%;
  margin-bottom: 8px;
}

.explain__para_sub {
  margin-bottom: 3rem;
}

.sub__explain__para__margin__right {
  /* margin-right: 8rem; */
}

.sub__explain__para {
  font-size: 1.2rem;
  letter-spacing: -0.01em;
  color: #a7abb6;
  margin-right: 0.8rem;
  font-weight: 400;
  line-height: 140%;
  margin-right: 0.8rem;
}

.sub__explain__para__bold {
  font-size: 1.2rem;
  letter-spacing: -0.01em;
  color: #7e818d;
  font-weight: 600;
  line-height: 140%;
}
.bookmark__container {
  margin-left: 2.8rem;
  /* margin-left: calc(100vw / 68.5); */
}

.bookmark {
  width: 12.4rem;
  height: 6.3rem;
  display: flex;
  flex-direction: column;

  justify-content: center;

  background: #ffffff;
  box-shadow: 0rem 4rem 2.4rem rgba(0, 0, 0, 0.03);
  border-radius: 0.4rem;
  /* border: 1px solid #f2f3f7; */

  margin-top: 1.4rem;
}

.bookmark:hover {
  cursor: pointer;
}

.bookmarkParaContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
  justify-content: center;

  color: #808591;

  letter-spacing: -0.01em;
}

.bookmarkUpperPara {
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 800;
}

.bookmarkLowerPara {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.rightGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 100%;

  margin-top: 12rem;
  margin-right: 2rem;
}

.laserImageRightContainer {
  background-image: url(../../../src/image/ME/page2/las.png);
  background-size: cover;
}

.galvanicImageRightContainer {
  background-image: url(../../../src/image/ME/page2/gal.png);
  background-size: cover;
}

.right__container {
  display: flex;
}

.head__tips {
  height: calc(100vh / 7.95);
  width: calc(100vw / 6.55);
  content: url(../../../src/image/ME/page2/tipset.png);
  position: absolute;
  left: calc(100vw / 1.24);
  top: calc(100vh / 1.38);
}

@media all and (max-width: 1439px) {
  .page2Container {
    grid-template-columns: 1fr 1.2fr;
  }

  .leftGridContainer {
    width: 38.2rem;
    height: 45.1rem;
    margin-left: 12rem;
  }

  .leftPaper {
    margin-left: 3.2rem;
  }

  .leftPaperTop {
    margin-top: 3.2rem;
    height: 7rem;
  }

  .leftPaperTopFirst {
    font-size: 1.6rem;
  }

  .leftPaperTopSecond {
    font-size: 2.4rem;

    margin-bottom: 2rem;
  }

  .leftPaperTopSecondPoint {
  }

  .leftPaperMiddle {
  }

  .leftPaperBottom {
    margin-top: 2rem;
  }

  .plusImage {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: -0.6rem;
  }

  .paper__image__container {
  }

  .laserImage {
  }

  .laserImageContainer {
  }

  .laserInactiveImage {
  }

  .galvanicImageContainer {
    margin-left: 0.8rem;
  }

  .galvanicImage {
  }

  .galvanicInactiveImage {
  }

  .imageContainer {
    height: 14rem;
    width: 14rem;
  }

  .indicator {
  }

  .indicatorAtom {
  }

  .explainTitle {
    font-size: 2rem;
  }

  .explainPara {
  }

  .galavnic__br {
    display: none;
  }

  .galavnic__br {
    display: block;
  }

  .explain__title__sub {
  }

  .explain__para_sub {
    margin-bottom: 0.8rem;
  }

  .sub__explain__para__margin__right {
  }

  .sub__explain__para {
  }

  .sub__explain__para__bold {
  }

  .bookmark__container {
    visibility: hidden;
  }

  .bookmark {
  }

  .bookmark:hover {
  }

  .bookmarkParaContainer {
  }

  .bookmarkUpperPara {
    font-size: 1.2rem;
  }

  .bookmarkLowerPara {
    font-size: 1.2rem;
  }

  .rightGridContainer {
  }

  .laserImageRightContainer {
    background-image: url(../../../src/image/ME/page2/1024gal.png);
    background-size: cover;
  }

  .galvanicImageRightContainer {
    background-image: url(../../../src/image/ME/page2/1024las.png);
    background-size: cover;
  }

  .right__container {
  }

  .head__tips {
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .leftGridContainer {
    width: 53.6rem;
    height: 58.5rem;

    margin-left: 16rem;
  }

  .leftPaper {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }

  .leftPaperTop {
    margin-top: 4rem;
  }

  .leftPaperTopFirst {
    font-size: 2rem;
  }

  .leftPaperTopSecond {
    font-size: 3.2rem;

    margin-bottom: 3.8rem;
  }

  .leftPaperTopSecondPoint {
  }

  .leftPaperMiddle {
  }

  .leftPaperBottom {
    margin-top: 3rem;
  }

  .plusImage {
    width: 4.8rem;
    height: 4.8rem;
  }

  .paper__image__container {
  }

  .laserImage {
  }

  .laserImageContainer {
  }

  .laserInactiveImage {
  }

  .galvanicImageContainer {
    margin-left: 1.6rem;
  }

  .galvanicImage {
  }

  .galvanicInactiveImage {
  }

  .imageContainer {
    height: 22rem;
    width: 22rem;
  }

  .indicator {
  }

  .indicatorAtom {
  }

  .explainTitle {
  }

  .explainPara {
  }

  .explain__title__sub {
  }

  .explain__para_sub {
    margin-bottom: 1.6rem;
  }

  .sub__explain__para__margin__right {
  }

  .sub__explain__para {
  }

  .sub__explain__para__bold {
  }

  .bookmark__container {
  }

  .bookmark {
    width: 11rem;
    height: 6rem;
  }

  .bookmark:hover {
  }

  .bookmarkParaContainer {
  }

  .bookmarkUpperPara {
    font-size: 1.2rem;
  }

  .bookmarkLowerPara {
    font-size: 1.2rem;
  }

  .rightGridContainer {
  }

  .laserImageRightContainer {
    background-image: url(../../../src/image/ME/page2/1440gal.png);
    background-size: cover;
  }

  .galvanicImageRightContainer {
    background-image: url(../../../src/image/ME/page2/1440las.png);
    background-size: cover;
  }

  .right__container {
  }

  .head__tips {
  }
}
