.container {
  height: 100%;
  display: flex;
  /* margin-top: 225px; */
  margin-left: 228px;
}

.leftContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.rightContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.subTitle {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: -0.02em;
  line-height: 128%;
  color: var(--primary01);

  margin-bottom: 24px;
}

.title {
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -0.02em;
  line-height: 120%;
  color: var(--primary01);

  margin-bottom: 80px;
}

.mainExplain {
  font-weight: 300;
  font-size: 40px;

  letter-spacing: -0.02em;
  line-height: 128%;

  color: var(--grayScale07);
}

.mainExplainSub {
  font-weight: 500;
  font-size: 40px;

  letter-spacing: -0.02em;
  line-height: 128%;

  color: var(--grayScale07);
}

.mainExplainBold {
  font-weight: 600;
  font-size: 40px;

  letter-spacing: -0.02em;

  color: var(--primary01);
}

.subExplain {
  font-weight: 300;
  font-size: 24px;

  letter-spacing: -0.02em;
  line-height: 140%;
  color: var(--grayScale07);
}

.meImage {
  content: url(../../../src/image/ME/page1/me_main.svg);
  display: flex;
}
