.oval__common {
  position: absolute;
  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);
  border-radius: 50%;
}

.oval__134 {
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0.01%,
    rgba(235, 243, 248, 0.05) 100%
  );
  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);
  /* backdrop-filter: blur(20px); */

  transform: rotate(-180deg);

  height: 133.99998474121145px;
  width: 134.00001525878957px;
  left: 300px;
  top: 160px;
  border-radius: 50%;

  background: linear-gradient(
      135.82deg,
      #ffffff 13.3%,
      rgba(233, 240, 244, 0.3) 98.46%
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05) 0.01%,
      rgba(235, 243, 248, 0.05) 100%
    );

  /* background-color: blue; */
}

.oval__48 {
  position: absolute;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0.01%,
    rgba(235, 243, 248, 0.05) 100%
  );
  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);
  /* backdrop-filter: blur(20px); */

  transform: rotate(-180deg);
  height: 48.000000000000185px;
  width: 48.000000000000185px;
  left: 503px;
  top: 13px;
  border-radius: 50%;

  /* background-color: red; */
}

.oval__80 {
  position: absolute;

  background: rgba(255, 255, 255, 0.2);

  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);

  /* backdrop-filter: blur(16px); */

  border-radius: 50%;

  height: 81px;
  width: 80px;

  left: 533px;
  top: 117px;
  /* background-color: pink; */
}

.oval__160 {
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0.01%,
    rgba(235, 243, 248, 0.05) 100%
  );
  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);
  /* backdrop-filter: blur(20px); */
  transform: rotate(90deg);

  height: 160.00000000000014px;
  width: 160.00000000000014px;

  left: 547px;
  top: 18px;

  border-radius: 50%;
  /* background-color: green; */
}

.oval__251 {
  position: absolute;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0.01%,
    rgba(235, 243, 248, 0.05) 100%
  );

  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);
  /* backdrop-filter: blur(20px); */
  height: 251px;
  width: 251px;
  left: 769px;
  top: -80px;
  border-radius: 50%;
  /* background-color: purple; */
}

.oval__104 {
  position: absolute;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 0.01%,
    rgba(235, 243, 248, 0.05) 100%
  );
  box-shadow: 0px 16px 40px rgba(112, 116, 138, 0.04);
  /* backdrop-filter: blur(20px); */
  height: 104px;
  width: 104px;
  left: 1016px;
  top: 133px;
  border-radius: 50%;

  /* background-color: cyan; */
}
