.container {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;

  margin-bottom: 20.2rem;
  justify-content: center;
  align-items: center;
}

.topContainer {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  margin-right: 47.1rem;
  margin-left: 22.7rem;
  width: 130rem;
  height: 12rem;
}

.top__container__title {
  margin-right: 6.5rem;
  width: 60rem;
}

.top__container__title__sub {
  font-size: 3.2rem;
  letter-spacing: -0.02em;
  font-weight: 300;
  line-height: 132%;
  color: #a7abb6;
}

.top__container__title__main {
  font-size: 4.8rem;
  letter-spacing: -0.02em;
  line-height: 124%;
  color: #55576f;
}

.top__container__title__main__bold {
  font-weight: 700;
}

.top__container__testinfo {
  margin-right: 9.8rem;
  margin-top: 4rem;
  width: 27.5rem;
}

.top__container__testdetail {
  margin-top: 4rem;
  width: 33rem;
}

.testTitle {
  margin-right: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--grayScale06);
  line-height: 150%;
}

.testDetail {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--grayScale07);
}

.margin__left {
  margin-left: calc(22.5%);
}

.margin__right {
  margin-right: calc(14%);
}

.margin__bottom {
  margin-bottom: 2rem;
}

.margin__bottom__graph__8 {
  margin-bottom: 0.8rem;
}

.margin__bottom__graph__24 {
  margin-bottom: 2.4rem;
}

.margin__top {
  margin-top: 1.8rem;
}

.testDetailSub {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 144%;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #a7abb6;
}

.image1 {
  content: url(../../../src/image/FX5000/page3/1.png);
}

.image2 {
  content: url(../../../src/image/FX5000/page3/3.png);
}
.image3 {
  content: url(../../../src/image/FX5000/page3/2.png);
}
.image4 {
  content: url(../../../src/image/FX5000/page3/4.png);
}
.image5 {
  content: url(../../../src/image/FX5000/page3/5.png);
}

.paperContainer {
  display: flex;

  background: rgba(255, 255, 255, 0.7);
  height: 46rem;
  border: 1px solid #f2f3f7;
  box-shadow: 0rem 20rem 60rem rgba(0, 0, 0, 0.03);
  border-radius: 0.4rem;
  align-self: flex-end;
  padding-left: 4rem;
}

.paperContainer__left {
  width: 88rem;
}

.paperContainer__right {
  width: 51.8rem;
}

.paperContainer__inner {
}
.paperContainer__inner__left {
  width: 50%;
}
.paperContainer__inner__right {
  width: 50%;
}

.paperExplainContainer {
  display: flex;
  align-items: flex-end;
  padding-left: 4rem;
}

.titleExplain {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #7e818d;
  margin-bottom: 1.2rem;
}

.paperInnerContainer {
  display: flex;
  flex-direction: column;
}

.paperInnerContainerTop {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.2rem;
}

.paperInnerContainerBottom {
  display: flex;
  margin-right: 20.8rem;
}

.topLeftImage {
  content: url(../../../src/image/HAIR/page3/image1.png);
}
.topRightImage {
  content: url(../../../src/image/HAIR/page3/image2.png);
}
.botLeftImage {
  content: url(../../../src/image/HAIR/page3/image3.png);
}
.botRightImage {
  content: url(../../../src/image/HAIR/page3/image4.png);
}

.imageCommon {
  width: 38.6rem;
  height: 16.9rem;
}

.image__hair__volume {
  content: url(../../../src/image/HAIR/page3/01.png);
}

.image__hair__strong {
  content: url(../../../src/image/HAIR/page3/02.png);
}

.hair__graph__image__common {
  height: 15.4rem;
  width: 19.1rem;
}

.right_ImageCommon {
  height: 16.9rem;
  width: 22rem;
}

.right_SubExp {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.right_Exp {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.right_Container {
  display: flex;
  flex-direction: column;
  margin-left: 4.8rem;
}

.graph01 {
  content: url(../../../src/image/HAIR/page3/1.svg);
}
.graph02 {
  content: url(../../../src/image/HAIR/page3/2.svg);
}
.graph03 {
  content: url(../../../src/image/HAIR/page3/3.svg);
}
.graph04 {
  content: url(../../../src/image/HAIR/page3/4.svg);
}

.graph__container {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 5rem;
}

.flex__container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.image__container {
  margin-top: 4rem;
}

.image__container__inner {
  /* background: rgba(255, 255, 255, 0.5); */
}

.image__para {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
  margin-left: 1rem;
}

.image__common {
  width: 38rem;
  height: 13.6rem;
  margin-bottom: 0.8rem;
}

.image__hair01 {
  content: url(../../../src/image/HAIR/page3/image1.png);
  margin-top: 4rem;
}
.image__hair02 {
  content: url(../../../src/image/HAIR/page3/image2.png);
}

.image__hair03 {
  content: url(../../../src/image/HAIR/page3/image3.png);
}
.image__hair04 {
  content: url(../../../src/image/HAIR/page3/image4.png);
}
