.container {
  display: flex;
  flex-direction: column;
  height: calc(100% + 1vh);
}

.sub_title {
  font-weight: 300;
  font-size: 32px;
  line-height: 132%;

  letter-spacing: -0.02em;

  color: #a7abb6;
  margin-bottom: 16px;
}

.main_title {
  font-weight: 300;
  font-size: 56px;
  line-height: 124%;

  letter-spacing: -0.02em;

  color: #55576f;
}

.movie__container {
  height: 70%;
}

.title__container {
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 80px 120px;
  justify-content: flex-end;
}
