.page2Container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin-top: 144px;
  margin-right: 149px;
}

.leftGridContainer {
  display: grid;
  grid-template-columns: 2fr 0.4fr;
  margin-top: 100px;
  width: 958px;
  /* height: 680px; */
}

.leftPaper {
  display: grid;
  grid-template-rows: 0.8fr 2fr 2fr;
  padding-top: 48px;
  padding-left: 236px;
  padding-right: 152px;
}

.leftPaperTop {
  height: 107px;
  width: 570px;

  margin-bottom: 47px;
}

.leftPaperTopFirst {
  font-size: 32px;
  color: var(--grayScale05);
}

.leftPaperTopSecond {
  font-size: 48px;
  color: var(--primary01);
  letter-spacing: -2px;
}

.leftPaperTopSecondPoint {
  font-weight: 700;
}

.leftPaperMiddle {
  display: flex;
}

.leftPaperBottom {
}

.plusImage {
  border: 1px solid var(--mePage2Plus);

  /* border-image-source: linear-gradient(
    135.82deg,
    #f3f3f3 13.3%,
    rgba(255, 255, 255, 0.3) 98.46%
  ); */

  background: linear-gradient(
      135.82deg,
      #f3f3f3 13.3%,
      rgba(255, 255, 255, 0.3) 98.46%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));

  position: fixed;
  width: 58px;
  height: 58px;
  content: url(../../../src/image/ME/ic_functionPlus.svg);

  z-index: 1;
  box-sizing: border-box;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  margin-right: 18px;
}

.laserImage {
  margin: 0;
  padding: 0;
  content: url(../../../src/image/ME/me_laser_active.svg);
}

.laserContainer {
  content: url(../../../src/image/ME/me_laser_active.svg);
  height: 300px;
  width: 300px;
  margin-left: -20px;

  /* background: linear-gradient(0deg, #f2f3f7, #f2f3f7),
    linear-gradient(180deg, #f9f5fd 0%, rgba(255, 255, 255, 0) 50%);
  border-radius: 8px;
  display: flex;
  flex-direction: column; */
}

.galvanicImage {
  content: url(../../../src/image/ME/me_galvanic_active.svg);
}
.galvanicContainer {
  content: url(../../../src/image/ME/me_galvanic_active.svg);
  height: 300px;
  width: 300px;
  margin-left: -20px;
  /* background: linear-gradient(0deg, #f2f3f7, #f2f3f7),
    linear-gradient(180deg, #f9f5fd 0%, rgba(255, 255, 255, 0) 50%);

  border-radius: 8px;
  display: flex;
  flex-direction: column; */
}

.imageContainer {
  background: linear-gradient(0deg, #f2f3f7, #f2f3f7),
    linear-gradient(180deg, #f9f5fd 0%, rgba(255, 255, 255, 0) 50%);
  height: 277px;
  width: 277px;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.indicator {
  display: flex;
}

.indicatorLeft {
}
.indicatorRight {
}

.indicatorAtom {
  width: 6px;
  height: 6px;
  opacity: 0.7;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 41px;
  margin-bottom: 8px;
}

.explainTitle {
  font-size: 24px;
  letter-spacing: -2px;
  color: var(--primary01);
}

.explainPara {
  color: var(--grayScale08);
  font-size: 14px;
  letter-spacing: -1px;
}

.bookmark {
  width: 123px;
  height: 63px;
  display: flex;
  flex-direction: column;

  /* border: 1px solid #f2f3f7; */
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.03);
  border-radius: 0px 4px 4px 0px;

  justify-content: flex-start;
  align-items: flex-start;
}

.bookmark:hover {
  cursor: pointer;
}

.bookmarkParaContainer {
  padding: 12px 16px 12px 20px;
}

.bookmarkUpperPara {
  font-size: 14px;
  letter-spacing: -1px;
}

.bookmarkLowerPara {
  font-size: 12px;
  letter-spacing: -1px;
}

.rightGridContainer {
  margin-top: 40px;
  /* background: white; */
  width: 1000px;
  height: 800px;
}

.laserImageRightContainer {
  content: url(../../../src/image/ME/img_pura_01.png);
}

.galvanicImageRightContainer {
  content: url(../../../src/image/ME/img_pura_02.png);
}
