.container {
  margin-left: 8rem;
  display: flex;
  justify-content: space-around;
  height: calc(100vh);
  align-items: center;
}

.imageSelector {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 8rem;
  justify-content: center;
  height: calc(100vh);
}

.imageCommon {
  height: 9.6rem;
  width: 9.6rem;
  display: flex;
  flex-wrap: wrap;
}

.header0 {
  content: url(../../../src/image/HAIR/page5/me_01_active.png);
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.12));
}

.header1 {
  content: url(../../../src/image/HAIR/page5/me_02_active.png);
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.12));
}

.header2 {
  content: url(../../../src/image/HAIR/page5/me_03_active.png);
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.12));
}

.header3 {
  content: url(../../../src/image/HAIR/page5/me_04_active.png);
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.12));
}

.header00 {
  content: url(../../../src/image/HAIR/page5/me_01_inactive.png);
}

.header11 {
  content: url(../../../src/image/HAIR/page5/me_02_inactive.png);
}

.header22 {
  content: url(../../../src/image/HAIR/page5/me_03_inactive.png);
}

.header33 {
  content: url(../../../src/image/HAIR/page5/me_04_inactive.png);
}

.promo0 {
  content: url(../../../src/image/FX5000/page5/fx-5000_img_01.svg);
}

.promo1 {
  content: url(../../../src/image/FX5000/page5/fx-5000_img_02.svg);
}

.promo2 {
  content: url(../../../src/image/FX5000/page5/fx-5000_img_03.svg);
}

.promo3 {
  content: url(../../../src/image/FX5000/page5/fx-5000_img_04.svg);
}

.imageContainer {
  display: flex;
  width: 54.8rem;
  height: 67.4rem;
  margin-right: 28rem;
}

.imageContainer__inner {
  width: calc(80rem);
  height: calc(80rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.explainContainer {
  margin-right: 22.7rem;
}

.explainTitle {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 128%;

  letter-spacing: -0.02em;
}

.explainPaperContainer {
  width: 57.5rem;
  height: 66.5rem;

  background: #ffffff;

  border: 1px solid #f2f3f7;
  box-shadow: 0rem 0rem 8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.4rem;
}

.explainContainerInner {
  margin: 4.8rem;
  display: flex;
}

.hrContainer {
  width: 1rem;
}

.commonHR {
  width: 0.8rem;
  color: #c7cad3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.frameContainer {
  display: flex;
  flex-direction: column;
}

.frameTitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #a7abb6;
}

.frameExp {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.optionButtonCommon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  background-color: var(--grayScale02);
  border-radius: 0.4rem;
  letter-spacing: -0.01em;
  margin-right: 0.8rem;
  color: #55576f;

  margin-top: 0.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.mainExplain {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.subExplain {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 150%;

  letter-spacing: -0.03em;

  color: var(--grayScale05);
}

.margin__bottom {
  margin-bottom: 2.4rem;
}

.product__etc__container {
  display: flex;
  flex-wrap: wrap;
}

.explain__on__paper__container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw);
}

.explain__on__paper__container__inner {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  width: calc(50%);
}
