.container {
  height: calc(100%);
  display: flex;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;

  justify-content: center;

  align-items: flex-start;

  margin-left: 228px;
}

.subTitle {
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 128%;
  width: calc(100vw);
}

.title {
  font-size: 96px;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 300;
  margin-bottom: 80px;
  line-height: 120%;
}

.explain {
}
.subExplain {
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rightImage {
  width: calc(100% - 60%);
  height: calc(100% - 10%);
  z-index: -1;

  position: absolute;
  right: 0;
  margin-right: 180px;

  content: url(../../../src/image/HAIR/page1/hair.png);
}
