.modeImageCommon {
  width: auto;
  height: 100%;
}

.LaserModeImageTop {
  background: url(../../../src/image/FX5000/page2/functionIllust_laser.svg);
}

.LaserModeImageBottom {
  background: url(../../../src/image/FX5000/page2/functionIllust_laser.svg);
}

.UltraModeImagetop {
  background: url(../../../src/image/FX5000/page2/functionIllust_laser.svg);
}

.UltraModeImageUpperMiddle {
  background: url(../../../src/image/FX5000/page2/functionIllust_laser.svg);
}

.UltraModeImageLowerMiddle {
  background: url(../../../src/image/FX5000/page2/functionIllust_laser.svg);
}

.UltraModeImageBottom {
  background: url(../../../src/image/FX5000/page2/functionIllust_laser.svg);
}
