.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  height: 100%;

  display: flex;
}

.leftContainer {
  margin-top: 161px;
  display: flex;
  flex-direction: column;
  margin-left: 228px;
}

.subTitle {
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 300;
  margin-bottom: 24px;
}

.title {
  font-size: 96px;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 300;
}

.explain {
}
.subExplain {
}

.rightImage {
  background: "black";
  margin-top: 180px;
  margin-right: 80px;
  width: 100%;
  height: auto;
  content: url(../../../src/image/FX5000/page1/FX5000.svg);
}
