.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  height: 100%;

  display: flex;
}

.leftContainer {
  /* margin-top: 161px; */
  display: flex;
  flex-direction: column;
  width: 50%;

  justify-content: center;

  align-items: flex-start;
  /* background-color: blue; */
  margin-left: 228px;
}

.subTitle {
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 128%;
}

.title {
  font-size: 96px;
  letter-spacing: -0.02em;
  color: #55576f;
  font-weight: 300;
  margin-bottom: 80px;
  line-height: 120%;
}

.explain {
}
.subExplain {
}

.rightContainer {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin-right: 180px;
}

.rightImage {
  background: "black";
  /* margin-top: 180px;
  margin-right: 80px; */
  width: 100%;
  height: auto;
  /* content: url(../../../src/image/HAIR/page1/hair.png); */
  /* background-image: url(../../../src/image/Hair/page1/hair.png);
  background-size: cover; */
}
