.container {
  /* display: grid; */
  /* margin-left: 80px; */

  margin-right: 80px;
  /* margin-top: 144px; */
  margin-bottom: 216px;
  /* background-color: skyblue; */
  /* width: auto; */
  display: flex;
  width: 100%;

  height: 100%;
  align-items: center;
}

.leftContainer {
  display: flex;
  /* background-color: red; */
  width: 50%;
  margin-right: 156px;
  justify-content: space-between;
}

.paperLeftContainer {
  width: 958px;
  height: 720px;
  background: #ffffff;

  /* grayscale/02 */
  border: 1px solid #f2f3f7;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding-left: 236px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 30px;
}

.subTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 132%;

  /* or 42px */
  letter-spacing: -0.02em;

  /* grayscale/05 */
  color: var(--grayScale05);
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 128%;

  /* or 61px */
  letter-spacing: -0.02em;

  /* primary/01 */
  color: var(--primary05);
}

.titleBold {
  font-weight: 700;
}

.instruction {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  /* identical to box height, or 21px */
  letter-spacing: -0.01em;

  /* grayscale/06 */
  color: #7e818d;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.imageLaser {
  background-image: url(../../../src/image/FX5000/page2/_laser.svg);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

/* .imageLaser:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
} */

.rightImageCommon {
  box-sizing: border-box;

  width: 288px;
  height: 148px;

  /* basic/white */
  background: #ffffff;

  /* grayscale/02 */
  border: 1px solid #f2f3f7;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

/* .rightImageCommon:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
} */

.imageContainerLeft {
  background: #f2f3f7;
  border-radius: 4px;
  border: 1px solid #f2f3f7;
  background-color: #f2f3f6;
}

.leftImageCommon {
  width: 285px;
  height: 460px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  border: 1px solid #f2f3f7;
  border-radius: 4px;
  background-color: #f2f3f6;
}

.imageContainerRight {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageSonic {
  margin-top: 20px;
  background-image: url(../../../src/image/FX5000/page2/_sonic.svg);
  background-size: cover;
  /* margin-left: 12px; */
}

.imageGalvanic {
  margin-top: 20px;
  background-image: url(../../../src/image/FX5000/page2/_gal.svg);
  background-size: cover;
}

.imageCooling {
  margin-top: 20px;
  background-size: cover;
  background-image: url(../../../src/image/FX5000/page2/_cooling.svg);
}

.imageLED {
  margin-top: 20px;
  background-image: url(../../../src/image/FX5000/page2/_led.svg);
  background-size: cover;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: pink; */
  width: 50%;
  /* height: 100%; */
  height: 720px;
  margin-top: 120px;
  /* background-color: black; */
}

.imageCommon {
  width: inherit;
  display: flex;
  align-items: flex-end;
}

.imageCommon:hover {
  /* background-color: blue; */
  background-color: white;
  opacity: 0.8;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.explainContainer {
  /* display: flex; */
  background-color: transparent;
  backdrop-filter: blur(0.7px);
  width: 100%;
}

.explainContainerSpan {
  font-weight: 700;
  font-size: 16.2909px;
  line-height: 132%;

  /* identical to box height, or 22px */
  text-align: center;
  letter-spacing: -0.01em;

  /* primary/01 */
  color: #55576f;
}

.explainContainerNum {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

  /* or 21px */
  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on, "case" on;

  color: #f8f9fa;
  /* background: #f2f3f7; */
  background-color: pink;
  border-radius: 50%;
  /* margin-left: 12px; */
  margin-right: 8px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.CommonImageContainerMain {
  box-sizing: border-box;

  width: 288px;
  height: 460px;

  /* basic/white */
  background: #ffffff;

  /* grayscale/02 */
  border: 1px solid #f2f3f7;
  border-radius: 4px;
}

.CommonImageContainer {
  box-sizing: border-box;

  width: 288px;
  height: 148px;

  /* basic/white */
  background: #ffffff;

  /* grayscale/02 */
  border: 1px solid #f2f3f7;
  border-radius: 4px;
}

.LaserImage {
  background-size: cover;
  background-image: url(../../../src/image/HAIR/page2/1laser.svg);
}

.SonicImage {
  background-size: cover;
  background-image: url(../../../src/image/HAIR/page2/2sonic.svg);
}

.GalvanicImage {
  background-size: cover;
  background-image: url(../../../src/image/HAIR/page2/3gal.svg);
}

.CoolingImage {
  background-size: cover;
  background-image: url(../../../src/image/HAIR/page2/4cooling.svg);
}
