.buttonContainer {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 6px 20px rgba(127, 46, 190, 0.05);
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flexdirection: "column"; */
  /* // justifyContent: "center"; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  width: 128px;
  height: 64px;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-size: 18px;
  color: var(--primary01);
}

.buttonContainer:hover {
  cursor: pointer;
}

.buttonInnerContainer {
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
}
