.buttonContainer {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0rem 0.6rem 2rem rgba(127, 46, 190, 0.05);
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 12.8rem;
  height: 6.4rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-size: 1.8rem;
  color: var(--primary01);
}

.buttonContainer:hover {
  cursor: pointer;
}

.buttonInnerContainer {
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
}
