.buttonContainer {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0rem 0.6rem 2rem rgba(127, 46, 190, 0.05);
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 1.8rem;
  color: var(--primary01);
  /* cursor: pointer; */

  /* height: 6.4rem; */
  /* width: calc(100vw / 15);
  height: calc(100vh / 16.875); */
}

.buttonContainer:hover {
  cursor: pointer;
}

.buttonInnerContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-content: flex-start;

  justify-content: space-between;
  cursor: pointer;
  padding: 0rem 1.6rem;
}

.lineContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50%;

  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.topLeft {
  color: #4d5058;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.01em;

  font-size: 1.6rem;
  line-height: 150%;
}

.topRightContainer {
  display: flex;
}

.topRight {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 144%;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #c7cad3;

  margin-right: 0.4rem;
}

.topRightDiscount {
  color: #b398ad;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 144%;
}

.botLeft {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 140%;

  letter-spacing: -0.01em;

  color: #7e818d;

  display: flex;
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
  width: 5.5rem;
  height: 2.2rem;
  place-content: center;
  place-items: center;
}

.botRightz {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 144%;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #c7cad3;
  margin-right: 0.4rem;
}

.botRightx {
  font-weight: 200;
  font-size: 2rem;
  line-height: 144%;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #4d5058;
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
  .buttonContainer {
    /* height: 52px; */
  }

  .topRightContainer,
  .botLeft {
    display: none;
  }

  .topLeft {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    /* identical to box height, or 24px */
    letter-spacing: -0.01em;

    /* grayscale/07 */
    color: #808591;
  }

  .buttonInnerContainer {
    flex-direction: row;
    align-items: center;
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
}
