.priceButton {
  color: black;
  border-radius: 0.3rem;
  /* border-color: rgba(255, 255, 255, 0.5); */
  border: solid rgba(0, 255, 255, 0.5);
  padding: 1rem;
  margin: 1rem;
  /* width: 10rem; */
  height: 6vh;
  font-size: x-large;
  font-weight: bold;
}

/* .priceButton:hover{
  pointer
} */

.priceButton1 {
}

.priceButton2 {
}

.priceButton3 {
}

.priceButton4 {
}
