.priceButton {
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4rem;
  /* border-color: rgba(255, 255, 255, 0.5); */
  /* border: solid rgba(0, 255, 255, 0.5); */
  padding: 1rem;
  margin: 1rem;
  font-size: 0.75vw;
  /* width: 100%; */
  height: 2vw;
  /* justify-content: center; */

  /* background-color: rgba(255, 255, 255, 0.6); */
  /* font-weight: bold; */
  display: grid;
  box-shadow: 0px 6px 20px rgba(127, 46, 190, 0.05);
  background-color: white;
  justify-items: center;
  align-items: center;
}

.priceButton:hover {
  cursor: pointer;
}

.priceButton1 {
  /* background-color: blue; */
  /* display: grid; */
  justify-self: flex-start;
  margin-left: 0.8vw;
}

.priceButton2 {
  /* background-color: yellow; */
  /* display: grid;
  justify-content: grid-end; */
  margin-right: 0.8vw;
  justify-self: flex-end;
}

.priceButton3 {
  /* background-color: brown; */
  /* display: grid; */
  justify-self: flex-start;
}

.priceButton4 {
  /* background-color: yellowgreen; */
  /* display: grid;

  justify-content: grid-end; */
  justify-self: flex-end;
}
