.priceButton {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--primary01);
  background: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 6px 20px rgba(127, 46, 190, 0.05);
  height: 64px;
  /* gap: 104px; */
  color: rgba(0, 0, 0, 0.7);
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 18px;
}

.priceButton:hover {
  cursor: pointer;
}

.priceButton1 {
  justify-self: flex-start;
  font-size: 16px;
  color: var(--grayScale07);
}

.priceButton2 {
  justify-self: flex-end;
  font-size: 12px;
  color: var(--primary03);
}

.priceButton3 {
  font-size: 12px;
  color: var(--primary03);
  justify-self: flex-start;
}

.priceButton4 {
  font-size: 20px;
  color: var(--grayScale07);
  justify-self: flex-end;
}
