@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.btn {
  background-color: #947dd6;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem;
  /* width: 10rem; */
  height: 6vh;
  /* font-size: x-large; */
  font-size: 1.2vw;
  /* display: inherit; */
  /* font-weight: bold; */
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
