.modalContainer {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  display: flex;

  width: 1580px;
  height: 860px;
  background: #ffffff;
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 9999;

  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.container {
  position: "absolute";
  top: "50vw";
  left: "50vw";
  transform: "translate(-50%, -50%)";
  width: 1000;
  height: 1000;
  border: "2px solid #000";
}

.left {
  /* font-family: "ENFont"; */
  /* background: skyblue; */
  /* font-size: 1vw; */

  /* display: grid;
  grid-template-rows: repeat(5, 0.5fr) 4fr; */
  display: flex;
  flex-direction: column;
  /* padding-left: 20px;
  padding-right: 20px; */
  margin-top: 40px;
  /* background-color: black; */
  width: 377px;
}

.modealLeftTitle {
  font-size: 40px;
  letter-spacing: -0.02em;
  color: "#434343";
  font-weight: 300;
}

/* .center {
  width: 10vw;
} */

.right {
  /* font-family: "ENFont"; */
  /* font-size: 1vw; */
  /* background: yellowgreen; */
  /* display: flex;
  flex-direction: column; */
  /* display: grid; */
  /* grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr; */
  display: flex;
  flex-direction: column;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  margin-left: 40px;
}

.timeReciverContainer {
  display: flex;
}

.buttonStyle {
  color: var(--grayScale04);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.buttonStyle:hover {
  color: pink;
}

.kanouJikan {
  font-weight: 300;
  font-size: 14px;

  letter-spacing: -0.01em;

  color: var(--grayScale06);
}

.leftInputField {
  border-bottom: 1px solid pink;
  margin-bottom: 40px;
}

.wave {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;

  letter-spacing: -0.01em;

  /* grayscale/06 */
  color: var(--grayScale06);
}

.rightPrivayCollectAgree {
  color: #a7abb6;
  letter-spacing: -0.01em;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 29px;

  background: var(--primary01);
  border-radius: 4px;

  font-weight: 600;
  font-size: 12px;

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #ffffff;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 4px;

  cursor: pointer;
}

.helpButton {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 119px;
  height: 29px;

  background: #ffffff;

  border: 1px solid #55576f;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;

  letter-spacing: -0.01em;

  cursor: pointer;
  color: var(--primary01);
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 60px;

  background: var(--grayScale03);
  border-radius: 8px;
  font-weight: 800;
  font-size: 20px;

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.dialogTopPara {
  font-weight: 500;
  font-size: 16px;

  letter-spacing: -0.01em;

  /* grayscale/07 */
  color: #4d5058;
}

.dialogBotPara {
  font-weight: 500;
  font-size: 16px;

  letter-spacing: -0.01em;
  color: #a7abb6;
}

.exitButton {
  width: 128px;
  height: 48px;

  background: #dfe1e8;
  border-radius: 4px;
  color: var(--grayScale08);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stayButton {
  width: 128px;
  height: 48px;

  background: #444444;
  border-radius: 4px;
  color: white;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sendASKPara {
  font-weight: 300;
  font-size: 24px;

  letter-spacing: -0.02em;

  color: var(--grayScale08);
}

.sendASKSubPara {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;

  letter-spacing: -0.02em;

  color: var(--grayScale05);
}
