.modalContainer {
  display: flex;

  width: calc(158rem);
  min-width: calc(50% + 1vw);
  height: calc(86rem);
  min-height: calc(50% + 1vh);
  background: #ffffff;
  box-shadow: 0rem 2.4rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  z-index: 10;

  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.container {
  position: "absolute";
  top: "50vw";
  left: "50vw";
  transform: "translate(-50%, -50%)";
  width: 1000;
  height: 1000;
  border: "2px solid #000";
}

.modal_left_title_container {
  margin-bottom: 0.6rem;
}

.left {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  width: 37.7rem;
}

.modealLeftTitle {
  font-size: 4rem;
  letter-spacing: -0.02em;
  color: "#434343";
  font-weight: 300;
}

.right {
  display: flex;
  flex-direction: column;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-left: 4rem;
}

.timeReciverContainer {
  display: flex;
}

.time_reciver_mid {
  display: flex;
  align-items: center;
  color: #7e818d;
  font-size: 1.4rem;
}

.agree_box_container {
  display: flex;
  margin-top: 16rem;
}

.buttonStyle {
  color: var(--grayScale04);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.buttonStyle:hover {
  color: pink;
}

.kanouJikan {
  font-weight: 300;
  font-size: 1.4rem;

  letter-spacing: -0.01em;

  color: var(--grayScale06);
}

.leftInputField {
  border-bottom: 1px solid pink;
  margin-bottom: 4rem;
}

.wave {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.4rem;

  letter-spacing: -0.01em;

  color: var(--grayScale06);
}

.rightPrivacyCollectAgree {
  color: #a7abb6;
  letter-spacing: -0.01em;
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_privacy_cursor {
  cursor: pointer;
  color: #a7abb6;
  font-size: 1.2rem;
}

.shopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.9rem;
  height: 2.9rem;

  background: var(--primary01);
  border-radius: 0.4rem;

  font-weight: 600;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #ffffff;
  margin-right: 0.8rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  cursor: pointer;
}

.helpButton {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 11.9rem;
  height: 2.9rem;

  background: #ffffff;

  border: 1px solid #55576f;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 1.2rem;

  letter-spacing: -0.01em;

  cursor: pointer;
  color: var(--primary01);
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.4rem;
  height: 6rem;

  background: var(--grayScale03);
  border-radius: 0.8rem;
  font-weight: 800;
  font-size: 2rem;

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.dialogTopPara {
  font-weight: 500;
  font-size: 1.6rem;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.dialogBotPara {
  font-weight: 500;
  font-size: 1.6rem;

  letter-spacing: -0.01em;
  color: #a7abb6;
}

.exitButton {
  width: 12.8rem;
  height: 4.8rem;

  background: #dfe1e8;
  border-radius: 0.4rem;
  color: var(--grayScale08);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stayButton {
  width: 12.8rem;
  height: 4.8rem;

  background: #444444;
  border-radius: 0.4rem;
  color: white;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sendASKPara {
  font-weight: 300;
  font-size: 2.4rem;

  letter-spacing: -0.02em;

  color: var(--grayScale08);
}

.sendASKSubPara {
  margin-top: 1.6rem;
  font-weight: 300;
  font-size: 1.4rem;

  letter-spacing: -0.02em;

  color: var(--grayScale05);
}

.ask_title_container {
  margin-top: 2rem;
}

.ask_details_container {
  height: calc(100rem + 1vh);
}

.ask_details {
  height: calc(100%);
}

.information__para {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: #7e818d;
}

.shopic {
  height: 5rem;
  width: 2.5rem;
  color: #fff;
  margin-right: 0.725rem;
}

.dialog__exit__contaier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__send__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dialog__send__inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog__send__checked__ic {
  color: pink;
  height: 5.6rem;
  width: 5.6rem;
  margin-bottom: 1.6rem;
}
