.container {
  display: flex;
  margin-left: 18.8rem;
  margin-right: 5.1rem;
  margin-top: 16rem;
  flex-direction: column;
}

.ce {
  content: url(../../../src/image/PURATECH/page4/ce.svg);
}
.gmp {
  content: url(../../../src/image/PURATECH/page4/gmp.svg);
}
.innobiz {
  content: url(../../../src/image/PURATECH/page4/innobiz.svg);
}
.iso {
  content: url(../../../src/image/PURATECH/page4/iso.svg);
}
.KBeauty {
  content: url(../../../src/image/PURATECH/page4/k.svg);
}
.kibo {
  content: url(../../../src/image/PURATECH/page4/kibo.svg);
}
.koita {
  content: url(../../../src/image/PURATECH/page4/koita.svg);
}

.CertiContainer {
  box-sizing: border-box;

  height: 8.1rem;
  width: 19.5rem;

  /* width: calc(100vw / 9.84);
  height: calc(100vh / 13.5); */

  background: #ffffff;

  border: 1px solid #f2f3f7;
  border-radius: 0.4rem;
  display: flex;
  /* justify-content: center; */
  padding-left: 1rem;
  /* padding-left: 5px; */
  align-items: center;
  margin-right: 1.2rem;
}

.certiContainerText {
  display: flex;
  flex-direction: column;
}

.certiContainerDate {
  font-weight: 600;
  font-size: 1.2rem;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #b6bcc7;
}

.certiContainerDetail {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #808591;
}

.headerTitle {
  letter-spacing: -0.02em;
  font-weight: 300;
}

.headerTitleUpper {
  color: var(--grayScale05);
  font-size: 3.2rem;
  line-height: 144%;
}

.headerTitleLower {
  color: var(--primary01);
  font-size: 4.8rem;
  line-height: 132%;
}

.CertiTitleContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.CertiTitleContainerTitle {
  border-radius: 0.4rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;

  height: 4.8rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140%;
  padding: 0rem 1.2rem;
  letter-spacing: -0.01em;
}

.CertiTitleContainerSubject {
  margin-left: 1.2rem;
  color: #b6bcc7;
  letter-spacing: -0.01em;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
  margin-top: 1rem;
}

.class1__container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-end;
}

.class1__image {
  width: calc(29.2rem);
  height: calc(8rem);
  content: url(../../../src/image/PURATECH/page4/class1Laser.png);
  /* width: calc(100vw / 9.84);
  height: calc(100vh / 13.5); */
}

.class1__explain {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 144%;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #555a63;
}

.puraxel__certifications__container {
  margin-top: 7rem;
  margin-left: 16rem;
}

.puraxel__certifications__container__inner {
  display: flex;
  margin-top: 3.2rem;
}

.lameditech__certifications__container {
  margin-top: 7rem;
  margin-left: 16rem;
}

.lameditech__certifications__container__inner {
  display: flex;
  margin-top: 2.4rem;
  flex-wrap: wrap;
  /* gap: 0.8rem; */
}
