.container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  /* align-items: center; */
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 1.4rem;
  padding-bottom: 11.4rem;
}

.inner__container {
  display: flex;
  flex-direction: column;
}

.inner__container__right {
  margin-left: 2.8rem;
}

.inner__container__left {
}

.step__container {
  display: flex;
  margin-bottom: 0.8rem;
}

.step {
  width: 4.3rem;
  height: 4.3rem;
  color: var(--white);
  background-color: var(--primary01);
  opacity: 0.9;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.03em;
}

.step__step {
  font-size: 1.2rem;
  font-weight: 600;
}

.step__bold {
  font-weight: 800;
  font-size: 1.2rem;
}

.step__title {
  color: #55576f;
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

.step__subtitle {
  color: #a292a3;
  font-size: 1.4rem;
  font-weight: 700;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 4.3rem;

  background: var(--grayScale01);
  border-radius: 0.4rem;
  margin-left: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  font-weight: 700;
  letter-spacing: -0.01em;
}

.StepContainer {
}

.image1 {
  width: 29rem;
  height: 10.4rem;
  content: url(../../../src/image/PURATECH/page3/1.svg);
}
.image2 {
  width: 29rem;
  height: 10.4rem;
  content: url(../../../src/image/PURATECH/page3/2.svg);
}
.image3 {
  width: 29rem;
  height: 10.4rem;
  content: url(../../../src/image/PURATECH/page3/3.svg);
}
.image4 {
  width: 29rem;
  height: 10.4rem;
  content: url(../../../src/image/PURATECH/page3/4.svg);
}

.explainContainer {
  width: 30.5rem;
  height: 14.9rem;

  background: rgba(255, 255, 255, 0.7);

  border: 1px solid #f2f3f7;
  border-radius: 0.4rem;

  padding: 0.8rem;
  margin-bottom: 2rem;
  margin-right: 1.9rem;
}

.expBox {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.expBox__bold {
  font-weight: 500;
}

.puraxel__title__sub {
  font-weight: 300;
  font-size: 4rem;
  line-height: 128%;

  letter-spacing: -0.02em;

  color: #55576f;
}

.puraxel__title__main {
  font-weight: 300;
  font-size: 7.6rem;
  line-height: 124%;

  letter-spacing: -0.02em;

  color: #55576f;
  margin-bottom: 6rem;
}

.puraxel__title__image {
  content: url(../../../src/image/PURATECH/page1/puraxel_laser_tech_explain.png);
  width: 55rem;
}

.puraxel__explain__step__container {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "x y"
    "z o";
}

.puraxel__explain__title {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 132%;

  letter-spacing: -0.02em;

  color: #55576f;

  margin-bottom: 1.6rem;
}

.puraxel__explain__title__bold {
  letter-spacing: -0.01em;
  line-height: 132%;
  font-weight: 700;
}

.puraxel__explain__float__container {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0rem 0rem 6rem rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(2rem);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.puraxel__explain__float__container__upper {
  margin-bottom: 0.8rem;
  width: 480px;
  height: 156px;
}

.puraxel__explain__float__container__lower {
  width: 480px;
  height: 104px;
  margin-left: 12.8rem;
}

.puraxel__explain__para {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #7e818d;
  padding: 16px;
}

.puraxel__explain__para__bold {
  font-weight: 500;
  letter-spacing: -0.01em;
}

.puraxel__explain__container__upper {
  margin-bottom: calc(3.6rem + 1vh);
}

/* qr */

.puraxel__explain__container__1024 {
  display: none;
}

.puraxel__explain__container__main {
}

.step1024__container {
}

.step1024__image__common {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);

  border: 0.735632px solid #eceff4;
  border-radius: 4px;
}

.step1024__image__container {
  height: 7.7rem;
  width: 12.5rem;
}

.step1024__image01 {
  content: url(../../../src/image/PURATECH/page1/tech_img_01.png);
}

.step1024__image02 {
  content: url(../../../src/image/PURATECH/page1/tech_img_02.png);
}

.step1024__image03 {
  content: url(../../../src/image/PURATECH/page1/tech_img_03.png);
}

.step1024__image04 {
  content: url(../../../src/image/PURATECH/page1/tech_img_04.png);
}

.step1024__explain__common {
  margin-top: -0.5rem;
  z-index: 1;
  position: sticky;
}

.step1024__explain__container {
  background: linear-gradient(
      180deg,
      rgba(243, 165, 161, 0.15) 0%,
      rgba(255, 255, 255, 0) 43.23%
    ),
    #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 125px;
  height: 116px;

  padding-top: 0.8rem;
  padding-left: 1.2rem;
}

.step1024__image__containers {
}

.step1024__explain__common__para {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;

  /* or 21px */
  letter-spacing: -0.01em;

  /* grayscale/06 */
  color: #a0a5b1;
}

.step1024__explain__common__para__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

  /* identical to box height, or 21px */
  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on, "case" on;

  /* primary/01 */
  color: #55576f;
  margin-bottom: 0.8rem;
}

.step1024__explain__common__para__bold {
  color: #555a63;
  font-weight: 500;
}

.puraxel__explain__container__step__container__1024 {
  display: flex;
  gap: 0.8rem;
  /* flex-wrap: wrap; */
  height: 100%;
  width: 100%;
}

.puraxel__explain__container__sub {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 144%;
  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #b6bcc7;
}

.puraxel__explain__container__title {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #55576f;
  margin-bottom: 1.2rem;
}
