.container {
  display: flex;
  margin-left: 228px;
  margin-right: 224px;
  margin-top: 192px;
  flex-direction: column;
}

.ce {
  content: url(../../../src/image/PURATECH/page4/ce.svg);
}
.gmp {
  content: url(../../../src/image/PURATECH/page4/gmp.svg);
}
.innobiz {
  content: url(../../../src/image/PURATECH/page4/innobiz.svg);
}
.iso {
  content: url(../../../src/image/PURATECH/page4/iso.svg);
}
.KBeauty {
  content: url(../../../src/image/PURATECH/page4/k.svg);
}
.kibo {
  content: url(../../../src/image/PURATECH/page4/kibo.svg);
}
.koita {
  content: url(../../../src/image/PURATECH/page4/koita.svg);
}

.CertiContainer {
  box-sizing: border-box;

  width: 195px;
  height: 80px;

  background: #ffffff;

  border: 1px solid #f2f3f7;
  border-radius: 4px;
  display: flex;
  /* justify-content: center; */
  padding-left: 10px;
  /* padding-left: 5px; */
  align-items: center;
  margin-right: 12px;
}

.certiContainerText {
  display: flex;
  flex-direction: column;
}

.certiContainerDate {
  font-weight: 600;
  font-size: 12px;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: var(--grayScale05);
}

.certiContainerDetail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--grayScale07);
}

.headerTitle {
  letter-spacing: -0.02em;
  font-weight: 300;
}

.headerTitleUpper {
  color: var(--grayScale05);
  font-size: 32px;
  line-height: 132%;
}

.headerTitleLower {
  color: var(--primary01);
  font-size: 48px;
  line-height: 132%;
}

.CertiTitleContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.CertiTitleContainerTitle {
  border-radius: 4px;
  display: flex;
  /* justify-content: center; */
  align-items: center;

  height: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding: 0px 12px;
  letter-spacing: -0.01em;
}

.CertiTitleContainerSubject {
  margin-left: 12px;
  color: var(--grayScale05);
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
  margin-top: 10px;
}
