@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* @import url("../../styles/fontface.css"); */

.header {
  /* margin-top: 24px; */
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 24px;
}

.buttonStyle {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--primary01);
  /* width: 12vw; */
  font-size: 20px;
  margin-right: 40px;
}

.buttonStyleKr {
  /* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif; */
  /* width: 12vw; */
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
}

.gnbMenu {
  font-weight: 700;
  color: var(--primary01);
  opacity: 0.5;
  /* width: 12vw; */

  margin-right: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  letter-spacing: -0.03em;
}

.gnbMenu:hover {
  opacity: 1;
  /* animation: 0.25s linear 1s infinite alternate opa; */
}

@keyframes opa {
  /* 0% {
    opacity: 0.5;
    scale: 1;
  }

  50% {
    opacity: 0.75;
    scale: 1.2;
  }

  100% {
    opacity: 1;
    scale: 1;
  } */
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.subMenu {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--grayScale06);
  font-size: 12px;
  margin-right: 40px;
  line-height: 140%;

  letter-spacing: -0.01em;
}

.buttonStyle:hover {
  color: black;
}

.logo {
  /* background-color: pink; */
  /* margin-top: 0.5vh; */
  display: flex;
  align-self: center;
  /* width: 10vw;
  height: 2vw;
  margin-left: 1vw;
  margin-right: 2vw; */
  content: url(../../src/image/main/gnb_home_active_hover.svg);
  /* size: 1rem; */
  /* background-image: url(../../src/image/header/gnb_logo_default.svg); */
  /* background-size: cover; */
  height: 36px;
  width: 80px;
  /* margin-left: 80px; */
  margin-right: 80px;
  /* font-size: 16px; */
}

.logo:hover {
  cursor: pointer;
  filter: opacity(50%);
}

.leftNav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

.rightNav {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.applyENFont {
  font-size: 12px;
  color: var(--grayScale06);
}

.applyKRFont {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.SNSContainer {
  margin: 0;
  padding: 0;
  height: 107px;
  width: 91px;
  opacity: 90%;
  border-radius: 4px;
}

.SNSMenu {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--grayScale06);
  font-size: 12px;
  margin: 0;
  padding: 0;
  /* margin-right: 40px; */
  margin-left: 12px;
  font-weight: 600;
  margin-top: 16px;
}

.SNSMenuFirst {
  margin-top: 12px;
}

.SNSMenuLast {
  margin-bottom: 16px;
}

.companyInfoMenuContainer {
  /* margin: 16px; */
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 176px;
  width: 296px;
}

.companyInfoMenuContainerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.companyInfoMenuContainerTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

  /* identical to box height, or 21px */
  letter-spacing: -0.01em;

  /* grayscale/07 */
  color: #4d5058;
}

.companyInfoMenuContainerLink {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 2px;

  width: 114px;
  height: 21px; */

  /* grayscale/02 */
  /* background: #f2f3f7;
  border-radius: 4px; */

  content: url(../../src/image/main/lmdt_link.png);
  height: 21px;
  width: 114px;
  cursor: pointer;
}

.companyInfoMenuContainerText {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;

  /* or 17px */
  letter-spacing: -0.01em;

  /* grayscale/06 */
  color: var(--grayScale06);
}

.companyTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12px;
}

.companyTitle {
  font-size: 14px;
  color: var(--grayScale07);
}

.companyLinkButton {
  cursor: "pointer";
  content: url(../../src/image/main/lmdt_link.svg);
  width: 114px;
  height: 21px;
}

.companyInfoDetail {
  font-size: 12px;
  color: var(--grayScale06);
}

.commonText {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  /* identical to box height, or 24px */
  letter-spacing: -0.03em;

  /* primary/01 */
  color: #55576f;
}

/* .titleStyle {

  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
} */

/* .titleStyle::after {

  background: linear-gradient(
    to right,
    transparent 0%,
    #55576f 50%,
    transparent 100%
  );
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
} */
