@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* @import url("../../styles/fontface.css"); */

@font-face {
  font-family: "ENFont";
  src: url("../../src/fonts/CaviarDreams.woff") format("woff");
}

@font-face {
  font-family: "ENFontB";
  src: url("../../src/fonts/CaviarDreams_Bold.woff") format("woff");
}

.buttonStyle {
  font-family: "ENFont", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
  /* font-family: "ENFont"; */
  color: gray;
  /* width: 12vw; */
  font-size: 0.5vw;
}

.buttonStyleKr {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  /* font-family: "ENFont"; */
  color: gray;
  /* width: 12vw; */
  font-size: 0.5vw;
}

.buttonStyle:hover {
  color: black;
}

.logo {
  /* background-color: pink; */
  /* margin-top: 0.5vh; */
  width: 10vw;
  margin-left: 1vw;
  margin-right: 2vw;
  content: url(../../src/image/header/gnb_home_active_hover.svg);
  size: 1rem;

  /* background-image: url(../../src/image/header/gnb_logo_default.svg); */
  /* background-size: cover; */
}

.logo:hover {
  cursor: pointer;
}

.leftNav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-left: 1vw;
}

.rightNav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 1vw;
}

.applyENFont {
  font-family: "ENFont";
}

.applyKRFont {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
