@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.buttonStyle {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  color: gray;
  width: 12vw;
  font-size: 1vw;
}

.buttonStyle:hover {
  color: black;
}

.logo:hover {
  cursor: pointer;
}

.logo {
  /* background-color: pink; */
  margin-top: 0.5vh;
}

.leftNav {
}

.rightNav {
  /* background-color: black; */
}
