.container {
  height: 100%;
  /* margin-top: 16rem;
  margin-left: 31rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__inner {
  display: flex;
  flex-direction: column;

  justify-items: flex-end;
  align-self: center;
}

.title__container {
  display: flex;

  justify-self: flex-start;
  width: auto;
  margin-bottom: 2.4rem;

  justify-content: space-between;
  align-items: flex-end;
}

.title__container__light {
  font-weight: 300;
}

.title__container__title {
  /* margin-right: 6.5rem; */
  /* width: 60rem; */
}

.title__container__title__para {
  font-weight: 300;
  font-size: 20px;
  line-height: 144%;

  /* identical to box height, or 29px */
  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  /* grayscale/05 */
  color: #b6bcc7;
  margin-bottom: 1.3rem;
}

.title__container__title__sub {
  font-size: 4.8rem;
  letter-spacing: -0.02em;
  line-height: 124%;
  color: #55576f;
}

.title__container__title__bold {
  font-weight: 700;
}

.title__testinfo__container {
  /* margin-right: 9.8rem; */
  /* margin-top: 4rem; */
  /* width: 25.5rem; */
}

.title__testdetail__container {
  /* margin-top: 4rem; */
  /* width: 36rem; */
}

.testTitle {
  margin-right: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--grayScale06);
  line-height: 150%;
}

.title__testTitle__margin__right {
  margin-right: 4.4rem;
}

.testDetail {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--grayScale07);
}

.image1 {
  content: url(../../../src/image/ME/page3/testResult_card-0.webp);
}

.image2 {
  content: url(../../../src/image/ME/page3/testResult_card-1.webp);
}
.image3 {
  content: url(../../../src/image/ME/page3/testResult_card-2.webp);
}
.image4 {
  content: url(../../../src/image/ME/page3/testResult_card-3.webp);
}
.image5 {
  content: url(../../../src/image/ME/page3/testResult_card-4.webp);
}

.paperContainer {
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.7);

  border: 1px solid #f2f3f7;
  box-shadow: 0rem 0rem 8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.4rem;
  width: 115rem;
  height: 48rem;
  padding-left: 4rem;
}

.paper__container__inner {
  display: flex;
}

.paper__explain__container {
  margin-right: 4rem;
}

.paperPara {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;

  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #808591;
  margin-left: 1.2rem;
}

.imageContainer {
  width: 30rem;
  height: 11.2rem;
  margin-top: 1.6rem;
  background: rgba(255, 255, 255, 0.5);

  border-radius: 0.4rem;
  border: 1px solid #f2f3f7;
  /* width: calc(100vw / 5.05);
  height: calc(100vh / 7.95); */
}
