@font-face {
  font-family: "ENFont";
  src: url("../../../src/fonts/CaviarDreams.woff") format("woff");
}

@font-face {
  font-family: "ENFontB";
  src: url("../../../src/fonts/CaviarDreams_Bold.woff") format("woff");
}

.containerLeftTop {
  /* 그리드 1,2번 차지 */

  /* background-color: black; */
  /* border: 10px solid red; */

  /* background-color: violet; */
  display: flex;
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-content: center; */
  align-items: flex-end;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  /* --borderLine: linear-gradient(135deg, orange 60%, cyan); */
  /* z-index: 9999; */
  /* background-color: var(--borderLine); */
  border-bottom: 1px solid pink;

  /* margin: 0;
  padding: 0; */
}

/* .borderLine {
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  border-radius: 10px 10px 0px 0px;
  height: 5px;
} */

.containerRightTop {
  /* 이미지 그리드 2,4번 차지 */

  /* background-color: blue; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  /* border: 10px solid red; */
  justify-content: center;
  /* justify-items: center; */
  /* align-items: center; */
  /* align-content: center; */
  display: flex;
  margin-top: 1vw;
}

.img {
  /* background-color: white; */
  /* z-index: 9999; */
  /* position: "fixed"; */
  /* height: "100vh"; */
  /* margin-top: 1vh; */
  /* content: url(../../../src/image/ME/me_main.png); */
  /* content: url(../../../src/image/giphy.gif); */
}

.containerLeftBottom {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.containerRightBottom {
  /* background-color: red; */
}

.imgContainer {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  height: 80vh;

  /* z-index: 9999; */
}

.container {
  /* justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; */
}

.fontEN {
  font-family: ENFont;
}
