.container {
  height: calc(100vh);
  /* margin-top: 16rem;
  margin-left: 31rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__inner {
  display: flex;
  flex-direction: column;

  justify-items: flex-end;
  align-self: center;
}

.title__container {
  display: flex;

  justify-self: flex-start;
  width: auto;
  margin-bottom: 2.4rem;

  justify-content: space-between;
  align-items: flex-end;
}

.title__container__light {
  font-weight: 300;
}

.title__container__title {
  /* margin-right: 6.5rem; */
  /* width: 60rem; */
}

.title__container__title__para {
  font-size: 3.2rem;
  letter-spacing: -0.02em;
  font-weight: 300;
  color: #808591;
  line-height: 132%;
}

.title__container__title__sub {
  font-size: 4.8rem;
  letter-spacing: -0.02em;
  line-height: 124%;
  color: #55576f;
}

.title__container__title__bold {
  font-weight: 700;
}

.title__testinfo__container {
  /* margin-right: 9.8rem; */
  /* margin-top: 4rem; */
  /* width: 25.5rem; */
}

.title__testdetail__container {
  /* margin-top: 4rem; */
  /* width: 36rem; */
}

.testTitle {
  margin-right: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--grayScale06);
  line-height: 150%;
}

.title__testTitle__margin__right {
  margin-right: 4.4rem;
}

.testDetail {
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: var(--grayScale07);
}

.image1 {
  content: url(../../../src/image/ME/page3/testResult_card-0.png);
}

.image2 {
  content: url(../../../src/image/ME/page3/testResult_card-1.png);
}
.image3 {
  content: url(../../../src/image/ME/page3/testResult_card-2.png);
}
.image4 {
  content: url(../../../src/image/ME/page3/testResult_card-3.png);
}
.image5 {
  content: url(../../../src/image/ME/page3/testResult_card-4.png);
}

.paperContainer {
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.7);

  border: 1px solid #f2f3f7;
  box-shadow: 0rem 0rem 8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.4rem;
  width: 130rem;
  height: 53.6rem;
  padding-left: 4rem;

  /* width: calc(100vw / 1.48);
  height: calc(100vh / 2.05); */
}

.paper__container__inner {
  display: flex;
}

.paper__explain__container {
  margin-right: 4rem;
}

.paperPara {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 144%;

  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #808591;
  margin-left: 1rem;
}

.imageContainer {
  width: 38rem;
  height: 13.6rem;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #f2f3f7;
  /* width: calc(100vw / 5.05);
  height: calc(100vh / 7.95); */
}

/*  */

@media all and (max-width: 1439px) {
  .container {
    /* margin-top: 8rem;
    margin-left: 7rem; */
  }

  .container__inner {
  }

  .title__container {
  }

  .title__container__title {
    margin-right: 2.5rem;
    width: 24rem;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
  }

  .title__container__title__para {
    font-size: 1.6rem;
  }

  .title__container__title__sub {
    font-size: 3.2rem;
  }

  .title__container__title__bold {
  }

  .title__testinfo__container {
    margin-right: 9.8rem;
    margin-top: 4rem;
    width: 20rem;
  }

  .title__testdetail__container {
    margin-top: 4rem;
  }

  .testTitle {
    font-size: 1.6rem;
  }

  .title__testTitle__margin__right {
    margin-right: 4.4rem;
  }

  .testDetail {
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    color: var(--grayScale07);
  }

  .image1 {
  }

  .image2 {
  }
  .image3 {
  }
  .image4 {
  }
  .image5 {
  }

  .paperContainer {
    width: 88.4rem;
    height: 40.4rem;
    padding-left: 3.2rem;
  }

  .paper__container__inner {
    display: flex;
  }

  .paper__explain__container {
    margin-right: 4rem;
  }

  .paperPara {
    font-size: 1.2rem;
  }

  .imageContainer {
    width: 25.2rem;
    height: 9.6rem;
    margin-top: 0.6rem;
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    /* height: calc(100vh);
    margin-left: 14.3rem; */
  }

  .container__inner {
  }

  .title__container {
    /* margin-bottom: 2.4rem; */
  }

  .title__container__title {
    margin-right: 3.5rem;
    width: 40rem;
  }

  .title__container__title__para {
    font-size: 3.2rem;
  }

  .title__container__title__sub {
    font-size: 4.8rem;
  }

  .title__container__title__bold {
    font-weight: 700;
  }

  .title__testinfo__container {
    margin-right: 9.8rem;
    margin-top: 4rem;
    width: 25.5rem;
  }

  .title__testdetail__container {
    margin-top: 4rem;
    width: 36rem;
  }

  .testTitle {
    margin-right: 1.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    color: var(--grayScale06);
    line-height: 150%;
  }

  .title__testTitle__margin__right {
    margin-right: 4.4rem;
  }

  .testDetail {
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    color: var(--grayScale07);
  }

  .image1 {
  }

  .image2 {
  }
  .image3 {
  }
  .image4 {
  }
  .image5 {
  }

  .paperContainer {
    width: 115rem;
    height: 46rem;
    padding-left: 4rem;
  }

  .paper__container__inner {
    display: flex;
  }

  .paper__explain__container {
    margin-right: 4rem;
  }

  .paperPara {
    font-size: 1.6rem;
  }

  .imageContainer {
    width: 30rem;
    height: 11.2rem;
    margin-top: 1.6rem;
  }
}
