.container {
  padding-left: 22.7rem;
  padding-right: 5rem;
  height: calc(100vh);
  display: flex;
  /* justify-content: space-between; */
}

.leftContainer {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: calc(100vh);
  width: 50%; */
}

.subTitle {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #55576f;
}

.title {
  font-weight: 300;
  font-size: 9.6rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #55576f;
  margin-bottom: 8rem;
}

.expTop {
  font-weight: 300;
  font-size: 4rem;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #808591;
}

.expBot {
  font-weight: 500;
  font-size: 4rem;
  line-height: 128%;
  letter-spacing: -0.02em;
  color: #55576f;
  margin-bottom: 2.4rem;
}

.explainDetail {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #808591;
}

.rightContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: calc(100vh);
  width: 50%;
}

.rightImage {
  /* height: calc(100vh / 1.1);
  width: calc(100vw / 2); */
  width: 900px;
  content: url(../../../src/image/FX5000/page1/fx-5000_main.png);
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    padding-left: 18.8rem;
  }
  .subTitle {
    font-size: 4rem;
  }
  .title {
    font-size: 7.4rem;
    margin-bottom: 4.8rem;
  }

  .rightContainer {
    align-items: center;
  }

  .rightImage {
    width: 600px;
    content: url(../../../src/image/FX5000/page1/fx-5000_main_1440.png);
  }
}

@media all and (max-width: 1439px) {
  .container {
    padding-left: 12rem;
  }
  .subTitle {
    font-size: 2.4rem;
  }
  .title {
    font-size: 4.6rem;
    margin-bottom: 4rem;
  }
  .expTop {
    font-size: 2.4rem;
  }
  .expBot {
    font-size: 2.4rem;
  }

  .rightContainer {
    align-items: center;
  }

  .rightImage {
    width: 410px;
    content: url(../../../src/image/FX5000/page1/fx-5000_main_1440.png);
  }
}
