.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.leftContainer {
  margin-right: 22rem;
}

.paperLeftContainer {
  background: #ffffff;
  border: 1px solid #f2f3f7;
  box-shadow: 0rem 0rem 8rem rgba(0, 0, 0, 0.06);
  border-radius: 0.4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
  padding-right: 4rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 132%;
  margin-top: 4rem;
  letter-spacing: -0.02em;

  color: var(--grayScale05);
}

.title {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 128%;

  letter-spacing: -0.02em;

  color: var(--primary01);
}

.titleBold {
  font-weight: 700;
}

.instruction {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #7e818d;

  margin-top: 1.2rem;
}

.imageContainer {
  display: flex;
  gap: 0.8rem;
}

.imageLaser {
  background-image: url(../../../src/image/FX5000/page2/_laser.svg);
  background-size: cover;
  height: calc(100%);
  width: calc(100%);
  display: flex;
  align-items: flex-end;
}

.imageLaser:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0rem 0rem 24rem rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.imageLaser:hover .explainContainerNum {
  background-color: var(--grayScale02);
}

.rightImageCommon {
  width: 14rem;
  height: 22.6rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #f2f3f7;
  border-radius: 0.4rem;
  background-color: #f2f3f6;
}

.rightImageCommon:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0rem 0rem 2.4rem rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.rightImageCommon:hover .imageContainerLeft:hover {
  background: #f2f3f7;
  border-radius: 0.4rem;
  border: 1px solid #f2f3f7;
  background-color: #f2f3f6;
}

.leftImageCommon {
  width: 27.7rem;
  height: 46rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  border: 1px solid #f2f3f7;
  border-radius: 0.4rem;
  background-color: #f2f3f6;
}

.imageContainerRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.imageSonic {
  background-image: url(../../../src/image/FX5000/page2/_sonic.svg);
  background-size: cover;
}

.imageGalvanic {
  background-image: url(../../../src/image/FX5000/page2/_gal.svg);
  background-size: cover;
}

.imageCooling {
  background-size: cover;
  background-image: url(../../../src/image/FX5000/page2/_cooling.svg);
}

.imageLED {
  background-image: url(../../../src/image/FX5000/page2/_led.svg);
  background-size: cover;
}

.rightContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.imageCommon {
  width: inherit;
  display: flex;
  align-items: flex-end;
}

.image__common__spec {
  height: calc(90%);
  width: calc(100%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
}

.imageCommon:hover {
  background: #ffffff;
  box-shadow: 0rem 0rem 2.4rem rgba(0, 0, 0, 0.08);
  border-radius: 0.4rem;
}

.imageCommon:hover .explainContainerNum {
  background-color: var(--grayScale02);
}

.explainContainer {
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(0.7px);
  width: 100%;
}

.explainContainerSpan {
  font-weight: 700;
  font-size: 1.62909rem;
  line-height: 132%;

  text-align: center;
  letter-spacing: -0.01em;

  color: #55576f;
}

.explainContainerNum {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;

  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on, "case" on;

  color: var(--primary01);

  background-color: var(--grayScale01);

  border-radius: 50%;

  margin-right: 0.8rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8rem;
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
  .leftContainer {
    margin-right: 7.6rem;
  }
  .paperLeftContainer {
    padding-left: 3.6rem;
    padding-bottom: 3.6rem;
    padding-right: 3.6rem;
  }

  .subTitle {
    font-size: 2.4rem;
    margin-top: 3.6rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .instruction {
    margin-top: 0.8rem;
  }
  .leftImageCommon {
    width: 22rem;
    height: 40.8rem;
  }
  .rightImageCommon {
    width: 10.4rem;
    height: 20rem;
  }
}

@media all and (max-width: 1439px) {
  .leftContainer {
    margin-right: 2.9rem;
  }
  .paperLeftContainer {
    padding-left: 2.8rem;
    padding-bottom: 2.8rem;
    padding-right: 2.8rem;
  }

  .subTitle {
    font-size: 2rem;
    margin-top: 2.8rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .instruction {
    margin-top: 0.8rem;
  }
  .leftImageCommon {
    width: 16.8rem;
    height: 32rem;
  }
  .rightImageCommon {
    width: 8rem;
    height: 15.6rem;
  }

  .explainContainerSpan {
    font-size: 1.4rem;
  }
}
