.container {
  /* background: blue; */
  height: 100vh;
  /* display: "grid"; */
  display: flex;
  justify-content: space-between;
}

.mePart01 {
  width: 305px;
  height: 746px;
  /* background: blue; */
  content: url(../../../src/image/ME/page4/me_04_01.svg);
}

.mePart02 {
  width: 305px;
  height: 746px;
  /* background: green; */
  content: url(../../../src/image/ME/page4/me_04_02.svg);
}

.mePart03 {
  width: 305px;
  height: 746px;
  /* background: pink; */
  content: url(../../../src/image/ME/page4/me_04_03.svg);
}

.mePart04 {
  width: 305px;
  height: 746px;
  /* background: black; */
  content: url(../../../src/image/ME/page4/me_04_04.svg);
}
/* 
.temp {
  width: 1000px;
  height: 1000px;
} */

.paperLeftTop {
  display: flex;
  align-items: center;
}

.paperRightTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-right: 10px; */
}

.paperLeftBottom {
  /* display: flex; */
}

.paperRightBottom {
}

.paperRightTopImages {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
