.container {
  display: flex;
  flex-direction: column;
  height: calc(100% + 1vh);
}

.sub_title {
  font-weight: 300;
  font-size: 20px;
  line-height: 144%;

  /* identical to box height, or 29px */
  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;

  /* grayscale/05 */
  color: #b6bcc7;
  margin-bottom: 1.6rem;
}

.main_title {
  font-weight: 300;
  font-size: 5.6rem;
  line-height: 124%;

  letter-spacing: -0.02em;

  color: #55576f;
}

.main_title__bold {
  font-weight: 500;
}

.movie__container {
  height: inherit;
}

.title__container {
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
  padding-top: 12rem;
  padding-bottom: 7.4rem;
}

@media all and (max-width: 1439px) {
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
}
