@font-face {
  font-family: "ENFont";
  src: url("../src/fonts/CaviarDreams.woff") format("woff");
}

@font-face {
  font-family: "ENFontB";
  src: url("../src/fonts/CaviarDreams_Bold.woff") format("woff");
}
