.backGround {
  /* background: linear-gradient(rgba(255, 255, 255), rgba(252, 209, 215)); */
  background-color: cadetblue;
}

.footer {
  justify-content: space-between;
  background-color: brown;
}
