.main {
  /* background-image: url(../src/image/main/main_bg.svg);
  background-size: cover; */
  /* background-image: url(../src/image/main/main_bg.svg);
  background-size: cover;
  background-position: 50%; */
}
