.oval {
  /* content: url(../src/image/ME/oval_me.svg); */
  position: absolute;
  /* color: black; */
  /* width: 1000px;
  height: 1000px; */
  /* background-color: black; */

  box-sizing: border-box;

  width: 240px;
  height: 240px;
  left: 1191px;
  top: 686px;

  /* background: linear-gradient(
    141.94deg,
    rgba(255, 228, 249, 0.09) 17.48%,
    rgba(255, 228, 243, 0.3) 84.05%
  ); */
  border-radius: 50%;
  background-color: pink;
  box-shadow: 0px 16px 40px rgba(189, 46, 81, 0.03);
  backdrop-filter: blur(50px);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
