@media all and (max-width: 1023px) {
  * {
    visibility: hidden;
  }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
  body {
    background-color: aliceblue;
  }
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
  body {
    background-color: blue;
  }
}
/* 1024 1440 1920  */

@media all and (min-width: 1600px) and (max-width: 1919px) {
  body {
    background-color: pink;
  }
}

@media all and (min-width: 2560px) and (max-width: 3840px) {
  body {
    background-color: red;
  }
}

@media all and (min-width: 3841px) {
  * {
    visibility: hidden;
  }
}

/*  */
