.container {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 1000;
  border: "2px solid #000";
}

.right {
  width: 55rem;
}

.center {
  width: 10rem;
}

.left {
  width: 35rem;
}

.timeReciverContainer {
  display: flex;
}
