.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-left: 1.2rem;
  padding-right: 1.2rem;

  width: fit-content;
  height: 4.3rem;
  background: var(--primary01);
  border-radius: 0.4rem;

  margin-top: 4.3rem;
  margin-bottom: 1.6rem;
}

.para {
  font-weight: 700;
  line-height: 150%;
  font-size: 1.8rem;
  letter-spacing: -0.01em;
}
