.oval {
  position: absolute;

  box-sizing: border-box;

  width: 24rem;
  height: 24rem;

  border-radius: 50%;

  backdrop-filter: blur(50px);

  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(244, 237, 255, 0.3) 0%,
    rgba(233, 202, 244, 0.3) 100%
  );

  background: linear-gradient(
    180deg,
    rgba(244, 237, 255, 0.3) 0%,
    rgba(233, 202, 244, 0.3) 100%
  );

  box-shadow: 0rem 1.2rem 2.4rem 0rem #f3e8ff4d;
}

@media all and (max-width: 1439px) {
}

@media all and (min-width: 1440px) and (max-width: 1919px) {
}
