.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  background: #eceff4;
  border-radius: 4px;
}

.inner__para {
  font-weight: 600;
  font-size: 12px;
  line-height: 144%;

  letter-spacing: -0.03em;
  font-feature-settings: "tnum" on, "lnum" on;
}
